In [177]:
import pandas as pd
import pycountry

data_2021_2023 = pd.read_csv('Data/salaries.csv')
data_2017_2020 = pd.read_csv('Data/2019_Data_Professional_Salary_Survey_Responses.csv')

In [178]:
data_2021_2023_copy = data_2021_2023.copy()
data_2021_2023_copy = data_2021_2023_copy.drop(["company_size", "remote_ratio", "salary_currency", "company_size", "salary"], axis=1)
data_2021_2023_copy.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,company_location
0,2023,SE,FT,Machine Learning Engineer,70179,IT,US
1,2023,MI,FT,BI Developer,110000,US,US
2,2023,MI,FT,BI Developer,75000,US,US
3,2023,MI,FT,Data Analyst,46426,SI,SI
4,2023,MI,FT,Data Analyst,38868,SI,SI

In [179]:
  #copy de dataframe 2017-2020
data_2017_2020_copy = data_2017_2020.copy()

In [180]:
data_2017_2020_copy = data_2017_2020_copy.drop([ 'Timestamp', 'PostalCode',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
        'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'PopulationOfLargestCityWithin20Miles',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'Gender',
       'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter', 'EmploymentSector'], axis=1)
data_2017_2020_copy

,Survey Year,SalaryUSD,Country,EmploymentStatus,JobTitle
0,2017,200000,United States,Full time employee,DBA
1,2017,61515,United Kingdom,Full time employee,DBA
2,2017,95000,Germany,Full time employee,Other
3,2017,56000,United Kingdom,Full time employee,DBA
4,2017,35000,France,Full time employee of a consulting/contracting...,DBA
...,...,...,...,...,...
6888,2019,32000,Hungary,Full time employee,DBA (General - splits time evenly between writ...
6889,2019,32000,Hungary,Full time employee,DBA (General - splits time evenly between writ...
6890,2019,40000,Portugal,Full time employee of a consulting/contracting...,"Developer: App code (C#, JS, etc)"
6891,2019,130000,United States,Full time employee of a consulting/contracting...,DBA (General - splits time evenly between writ...
6892,2019,84500,Canada,Full time employee,Architect

In [181]:
data_2017_2020_copy['EmploymentStatus'] = data_2017_2020_copy['EmploymentStatus'].copy()
data_2017_2020_copy.loc[:,'EmploymentStatus'] = data_2017_2020_copy['EmploymentStatus'].replace('Full time employee', 'Full time').replace('Full time employee of a consulting/contracting company', 'Full time').replace('Independent or freelancer or company owner', 'Freelance').replace('Independent consultant, contractor, freelancer,  or company owner', 'Contract')

In [182]:
data_2021_2023_copy['employment_type'] = data_2021_2023_copy['employment_type'].copy()
data_2021_2023_copy.loc[:,'employment_type'] = data_2021_2023_copy['employment_type'].replace('FT', 'Full time').replace('CT', 'Contract').replace('PT', 'Part time').replace('FL', 'Freelance')

In [183]:
def get_country_name(initial):
    try:
        country = pycountry.countries.get(alpha_2=initial)
        return country.name
    except AttributeError:
        return initial

In [184]:
data_2021_2023_copy['company_location'] = data_2021_2023_copy['company_location'].apply(get_country_name)
data_2021_2023_copy.rename(columns={'company_location': 'Country'}, inplace=True)

data_2021_2023_copy['employee_residence'] = data_2021_2023_copy['employee_residence'].apply(get_country_name)
data_2021_2023_copy.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,Country
0,2023,SE,Full time,Machine Learning Engineer,70179,Italy,United States
1,2023,MI,Full time,BI Developer,110000,United States,United States
2,2023,MI,Full time,BI Developer,75000,United States,United States
3,2023,MI,Full time,Data Analyst,46426,Slovenia,Slovenia
4,2023,MI,Full time,Data Analyst,38868,Slovenia,Slovenia

In [185]:
data_2021_2023_copy['experience_level'] = data_2021_2023_copy['experience_level']\
    .replace('EN', 'Junior')\
    .replace('MI', 'Internmediate')\
    .replace('SE', 'Expert')\
    .replace('EX', 'Director')
data_2021_2023_copy

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,Country
0,2023,Expert,Full time,Machine Learning Engineer,70179,Italy,United States
1,2023,Internmediate,Full time,BI Developer,110000,United States,United States
2,2023,Internmediate,Full time,BI Developer,75000,United States,United States
3,2023,Internmediate,Full time,Data Analyst,46426,Slovenia,Slovenia
4,2023,Internmediate,Full time,Data Analyst,38868,Slovenia,Slovenia
...,...,...,...,...,...,...,...
8097,2020,Expert,Full time,Data Scientist,412000,United States,United States
8098,2021,Internmediate,Full time,Principal Data Scientist,151000,United States,United States
8099,2020,Junior,Full time,Data Scientist,105000,United States,United States
8100,2020,Junior,Contract,Business Data Analyst,100000,United States,United States
8101,2021,Expert,Full time,Data Science Manager,94665,India,India

In [186]:
#cleaning dtype
data_2017_2020_copy = data_2017_2020_copy.copy()
data_2017_2020_copy['SalaryUSD'] = data_2017_2020_copy['SalaryUSD'].apply(lambda x : x.replace("$", ""))
data_2017_2020_copy['SalaryUSD'] = data_2017_2020_copy['SalaryUSD'].apply(lambda x : x.replace(",", ""))
data_2017_2020_copy['SalaryUSD'] = data_2017_2020_copy['SalaryUSD'].apply(lambda x : x.replace(" ", ""))
data_2017_2020_copy['SalaryUSD'] = data_2017_2020_copy['SalaryUSD'].apply(lambda x : x.replace(".", ""))
data_2017_2020_copy['SalaryUSD'] = data_2017_2020_copy['SalaryUSD'].apply(lambda x : x.replace(".00", ""))

In [187]:
# convert object in int
data_2017_2020_copy['SalaryUSD'] = data_2017_2020_copy['SalaryUSD'].astype(int).copy()
data_2017_2020_copy['SalaryUSD'].dtypes

dtype('int32')

In [188]:
data_2017_2020_copy.loc[:,'JobTitle'].unique()

array(['DBA', 'Other', 'Developer: App code (C#, JS, etc)', 'Engineer',
       'Developer: T-SQL',
       'Developer: Business Intelligence (SSRS, PowerBI, etc)',
       'Architect', 'Analyst', 'Manager', 'Data Scientist',
       'Principal database engineer', 'DevOps, Sr Software Engineer DBA',
       'Technician ', 'Database Specialist', 'Consultant',
       'Systems Administrator', 'Sales', 'DBA / BI Developer',
       'Sr Consultant ', 'Analytics consultant',
       'DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)',
       'DBA (Development Focus - tunes queries, indexes, does deployments)',
       'DBA (Production Focus - build & troubleshoot servers, HA/DR)'],
      dtype=object)

In [189]:
data_2017_2020_copy.loc[:, "JobTitle"] = (data_2017_2020_copy.loc[:, "JobTitle"]
       .replace("Engineer", "Data Engineer")\
       .replace("Analyst", "Data Analyst")\
       .replace("Architect", "Data Architect")\
       .replace("Manager", "Data Manager")\
       .replace("Developer: Business Intelligence (SSRS, PowerBI, etc)", "BI Developer" ))
data_2017_2020_copy.loc[:, "JobTitle"].unique()

array(['DBA', 'Other', 'Developer: App code (C#, JS, etc)',
       'Data Engineer', 'Developer: T-SQL', 'BI Developer',
       'Data Architect', 'Data Analyst', 'Data Manager', 'Data Scientist',
       'Principal database engineer', 'DevOps, Sr Software Engineer DBA',
       'Technician ', 'Database Specialist', 'Consultant',
       'Systems Administrator', 'Sales', 'DBA / BI Developer',
       'Sr Consultant ', 'Analytics consultant',
       'DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)',
       'DBA (Development Focus - tunes queries, indexes, does deployments)',
       'DBA (Production Focus - build & troubleshoot servers, HA/DR)'],
      dtype=object)

In [190]:
retained_values = ["Data Engineer", "BI Developer", "Data Architect", "Data Analyst", "Data Manager", "Data Scientist"]

In [191]:
data_2017_2020_copy.loc[:,'JobTitle'] = data_2017_2020_copy.loc[:,'JobTitle'].apply(lambda x: x if x in retained_values else 'Other')

In [192]:
data_2017_2020_copy.loc[:,'JobTitle'].unique()

array(['Other', 'Data Engineer', 'BI Developer', 'Data Architect',
       'Data Analyst', 'Data Manager', 'Data Scientist'], dtype=object)

In [193]:
data_2021_2023_copy.loc[:,'job_title'] = data_2021_2023_copy.loc[:,'job_title'].apply(lambda x: x if x in retained_values else 'Other')
data_2021_2023_copy.loc[:,'job_title'].unique()

array(['Other', 'BI Developer', 'Data Analyst', 'Data Engineer',
       'Data Scientist', 'Data Architect', 'Data Manager'], dtype=object)

In [194]:
data_2021_2023_copy.loc[:,'job_title'].unique()

array(['Other', 'BI Developer', 'Data Analyst', 'Data Engineer',
       'Data Scientist', 'Data Architect', 'Data Manager'], dtype=object)

In [195]:
data_2017_2020_copy['Survey Year'] = pd.to_datetime(data_2017_2020_copy['Survey Year'], format='%Y')

In [196]:
data_2021_2023_copy['work_year'] = pd.to_datetime(data_2021_2023_copy['work_year'], format='%Y')

In [197]:
data_2021_2023_copy.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,Country
0,2023-01-01,Expert,Full time,Other,70179,Italy,United States
1,2023-01-01,Internmediate,Full time,BI Developer,110000,United States,United States
2,2023-01-01,Internmediate,Full time,BI Developer,75000,United States,United States
3,2023-01-01,Internmediate,Full time,Data Analyst,46426,Slovenia,Slovenia
4,2023-01-01,Internmediate,Full time,Data Analyst,38868,Slovenia,Slovenia

In [198]:
data_2017_2020_copy.head()

  Survey Year  SalaryUSD         Country EmploymentStatus JobTitle
0  2017-01-01     200000   United States        Full time    Other
1  2017-01-01      61515  United Kingdom        Full time    Other
2  2017-01-01      95000         Germany        Full time    Other
3  2017-01-01      56000  United Kingdom        Full time    Other
4  2017-01-01      35000          France        Full time    Other

In [199]:
data_2017_2020_copy = data_2017_2020_copy.rename(columns={"Survey Year": "work_year", "SalaryUSD": "salary_in_usd", "EmploymentStatus" : "employment_type", "JobTitle": "job_title"})

In [200]:
data_2017_2023 = pd.concat([data_2017_2020_copy, data_2021_2023_copy], axis =0)

In [202]:
data_2017_2023.to_csv("Salary_2017_2023.csv")