In [117]:
import pandas as pd
import pycountry

data_2021_2023 = pd.read_csv('Data/salaries.csv')
data_2017_2020 = pd.read_csv('Data/2019_Data_Professional_Salary_Survey_Responses.csv')

In [104]:
data_2021_2023_copy = data_2021_2023.copy()
data_2021_2023_copy = data_2021_2023_copy.drop(["company_size", "remote_ratio", "salary_currency", "company_size", "salary"], axis=1)
data_2021_2023_copy.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,company_location
0,2023,SE,FT,Machine Learning Engineer,70179,IT,US
1,2023,MI,FT,BI Developer,110000,US,US
2,2023,MI,FT,BI Developer,75000,US,US
3,2023,MI,FT,Data Analyst,46426,SI,SI
4,2023,MI,FT,Data Analyst,38868,SI,SI

In [105]:
  #copy de dataframe 2017-2020

In [ ]:
data_2017_2020_copy = data_2017_2020.copy()
data_2017_2020_copy = data_2017_2020_copy.drop([ 'Timestamp', 'PostalCode',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
        'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'PopulationOfLargestCityWithin20Miles',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'Gender',
       'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter', 'EmploymentSector'], axis=1)
data_2017_2020_copy

In [ ]:
data_2017_2020_copy.loc[:, "JobTitle"] = data_2017_2020_copy.loc[:, "JobTitle"].replace("Engineer", "Data Engineer")\
       .replace("Analyst", "Data Analyst")\
       .replace("Architect", "Data Architect")\
       .replace("Manager", "Data Manager")\
       .replace("Developer: Business Intelligence (SSRS, PowerBI, etc)", "BI Developer" )\
       .replace("DBA", "Database Administrator")
data_2017_2020_copy.loc[:, "JobTitle"].unique()

In [116]:
data_2017_2020_copy = data_2017_2020_copy[data_2017_2020_copy.loc[:,"JobTitle"] != "Developer: App code (C#, JS, etc)"]

In [122]:
data_2017_2020_copy['EmploymentStatus'] = data_2017_2020_copy['EmploymentStatus'].copy()
data_2017_2020_copy.loc[:,'EmploymentStatus'] = data_2017_2020_copy['EmploymentStatus'].replace('Full time employee', 'Full time').replace('Full time employee of a consulting/contracting company', 'Full time').replace('Independent or freelancer or company owner', 'Freelance').replace('Independent consultant, contractor, freelancer,  or company owner', 'Contract')

In [123]:
data_2021_2023_copy['employment_type'] = data_2021_2023_copy['employment_type'].copy()
data_2021_2023_copy.loc[:,'employment_type'] = data_2021_2023_copy['employment_type'].replace('FT', 'Full time').replace('CT', 'Contract').replace('PT', 'Part time').replace('FL', 'Freelance')

In [118]:
def get_country_name(initial):
    try:
        country = pycountry.countries.get(alpha_2=initial)
        return country.name
    except AttributeError:
        return initial

In [119]:
data_2021_2023_copy['company_location'] = data_2021_2023_copy['company_location'].apply(get_country_name)
data_2021_2023_copy.rename(columns={'company_location': 'Country'}, inplace=True)

data_2021_2023_copy['employee_residence'] = data_2021_2023_copy['employee_residence'].apply(get_country_name)
data_2021_2023_copy.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,Country
0,2023,SE,FT,Machine Learning Engineer,70179,Italy,United States
1,2023,MI,FT,BI Developer,110000,United States,United States
2,2023,MI,FT,BI Developer,75000,United States,United States
3,2023,MI,FT,Data Analyst,46426,Slovenia,Slovenia
4,2023,MI,FT,Data Analyst,38868,Slovenia,Slovenia

In [124]:
data_2021_2023_copy['experience_level'] = data_2021_2023_copy['experience_level']\
    .replace('EN', 'Junior')\
    .replace('MI', 'Internmediate')\
    .replace('SE', 'Expert')\
    .replace('EX', 'Director')
data_2021_2023_copy

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,Country
0,2023,Expert,Full time,Machine Learning Engineer,70179,Italy,United States
1,2023,Internmediate,Full time,BI Developer,110000,United States,United States
2,2023,Internmediate,Full time,BI Developer,75000,United States,United States
3,2023,Internmediate,Full time,Data Analyst,46426,Slovenia,Slovenia
4,2023,Internmediate,Full time,Data Analyst,38868,Slovenia,Slovenia
...,...,...,...,...,...,...,...
8097,2020,Expert,Full time,Data Scientist,412000,United States,United States
8098,2021,Internmediate,Full time,Principal Data Scientist,151000,United States,United States
8099,2020,Junior,Full time,Data Scientist,105000,United States,United States
8100,2020,Junior,Contract,Business Data Analyst,100000,United States,United States
8101,2021,Expert,Full time,Data Science Manager,94665,India,India

In [127]:
data_2021_2023_copy.to_csv("Sal ary_2021_2023.csv")
data_2017_2020_copy.to_csv("Salary_2017_2020.csv2")